node-linker=hoisted
legacy-peer-deps=true
strict-peer-dependencies=false
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=@react-native/*
public-hoist-pattern[]=@expo/*
